body{
    background-color: bisque;
}

h1{
    color: rgb(236, 17, 17);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40pt;  
}

p{
    color: rgb(95, 48, 48);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
}